DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
MONGO_URI=


PORT=

ADMIN_USER=
ADMIN_PASSWORD=

# À remplir pour activer la connexion Discord (voir la note dans .env.example)
DISCORD_REDIRECT_URI=https://starwars-admin.onrender.com/auth/discord/callback
SESSION_SECRET=dh1RIbfaJtZ0SlfXH5stMe2RO2shVev0